.customer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 40vh;
}

.customer-movie__list {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  overflow-y: scroll;
  bottom: 0;
  height: auto;
}

.customer-movie__image {
  height: 30vh;
  position: relative;
  transition: transform .2s;
  margin: 0 .1em;
  min-width: 10rem;
}

.customer-movie__image:hover {
  z-index: 2;
  transform: scale(1.25);
}

.customer-rental__button,
.customer-movie__image > button {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  /*opacity: 0.8;*/
  color: white;
  font-size: 0.9rem;
  box-shadow: 1px 1px rgba(230, 223, 223, 0.53);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.customer-movie__image > button {
  position: absolute;
  bottom: 1.5rem;
  left: 25px;
  border-radius: 1px;
  height: 2rem;
  border: none;

}
