* {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  background: url(https://s3.amazonaws.com/ritalbradley-dev-photos/twinkle-back.gif);
}
nav {

}

nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-flow: wrap column;
  list-style-type: none;
  height: 12vh;
}

.Navigation li a {
  display: block;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  background-color: #ff00008f;
  margin: 0;
  height: 100%;
  color: white;
  font-weight: 900;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.Navigation li a:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Navigation li:hover {
  background: linear-gradient(60deg, red,orange,yellow,green,blue,purple);
  opacity: .8;
}

.Navigation li {
  padding: .1rem;
}

.main-content {
  height: 44vh;
  overflow-y: hidden;
  width: 100%;
}

.movie-list {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.movie-details {
  display: flex;
  flex-direction: column;
  width: 30vw;
  font-family: 'Quattrocento', Arial, sans-serif;
  overflow: hidden;
  color: #141414;
}

section.validation-errors-display.success {
  background-color: #ffff006b;
  margin-top: .25rem;
  padding: .5rem;
  color: white;
  letter-spacing: .25rem;
  text-align: center;
  text-shadow: -1px 0 black, -1px 0 black, -1px 0 black, -1px 0 black;
}

.selected-movie-details .caption {
  display: none;
}

.checkout-section {
  display: flex;
  flex-direction: row;
  height: 40vh;
}

.selected-movie-details img {
  /* hexagon */
  /* clip-path: polygon(50% 13%, 100% 42%, 81% 80%, 18% 80%, 0% 42%) */
  clip-path: circle(12vw at center);
}

.selected-customer__name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  background-color: #800080b5;
  height: 25vw;
  width: 25vw;
  text-align: center;
  margin: 6% 8%;
  -ms-flex-pack: center;
  justify-content: center;
}

.checkout-button {
  background: linear-gradient(60deg, red,orange,yellow,green,blue,purple);
  align-self: center;
  opacity: .8;
  padding: 9%;
  margin: 0 5%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.checkout-section h4 {
  display: none;
}

.add-movie {
  background: linear-gradient(60deg, red,orange,yellow,green,blue,purple);
  opacity: .8;
  margin: 0 7%;
  padding: 8%;
  margin-bottom: -30%;
}


@media (min-width: 420px) {
}
