.selected-movie {
    background-color: rgba(84, 85, 85, .2);
}

.selected-movie img {
  width: 6vw;
}

.selected-movie h4 {
  margin: .5em;
  font-size: 1em;
}

.selected-movie .movie-details__item {
    display: none;
}

.main-content {
  height: 75vh;
  overflow-x: scroll;
}

ul {
  list-style-type: none;
  display: inline-flex;
}
